<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block title %}<title>Title</title>{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <a href="{{ url_for("lsb.index") }}"><h1>LSB Steganography</h1></a>
            </header>
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
            <footer>
                <a>How does it work?</a>
                <a>About</a>
                <a>Terms of Use</a>
                <a>Privacy Policy</a>
            </footer>
        {% endblock %}
    </body>
</html>
