<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block title %}<title>Title</title>{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <a href="{{ url_for('lsb.index') }}"><h1>LSB Steganography</h1></a>
                <a href="{{ url_for('lsb.explain_page') }}">How does it work?</a>
            </header>
        {% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
            <footer>
                <a href="{{ url_for('lsb.terms_of_use_page') }}">Terms of Use</a>
                <a href="{{ url_for('lsb.privacy_policy_page') }}">Privacy Policy</a>
                <a href="{{ url_for('lsb.about_page') }}">About</a>
            </footer>
        {% endblock %}
    </body>
</html>
