{% extends "base.html" %}
{% block title %}<title>Encode</title>{% endblock %}
{% block main %}
    <h1>Encode</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for("lsb.encode_page") }}">
        {{ form.csrf_token }}
        <div>{{ form.message.label }}: {{ form.message }}</div>
        {% if form.message.errors %}
            <p>
                {% for error in form.message.errors %}{{ error }}{% endfor %}
            </p>
        {% endif %}
        <div>{{ form.image.label }}: {{ form.image(accept="image/png, image/jpeg") }}</div>
        {% if form.image.errors %}
            <p>
                {% for error in form.image.errors %}{{ error }}{% endfor %}
            </p>
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <button>Submit</button>
    </form>
{% endblock %}
