{% extends "base.html" %}
{% block  style %}
    <link rel="stylesheet" href="{{ url_for('lsb.static', filename='wall-of-text.css') }}">
{% endblock %}
{% block title %}<title>Terms of Use</title>{% endblock %}
{% block main %}
    <main>
        <h2>Terms of Use</h2>
        <div class="wall-of-text">
            <p>By using this website's service you agree that I (the site owner) am not responsible
                for anything you upload here.</p>
            <p>This website is for demonstration purpose and should not be used for encoding
                confidental documents.</p>
        </div>
    </main>
{% endblock %}
