form {
    width: 75vw;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

textarea {
    border-radius: 4px;
    resize: vertical;
    min-width: 100%;
    min-height: 150px;
}

#result-img {
    max-width: 75vw;
    display: block;
    margin: auto;
}

#result-msg {
    max-width: 75vw;
    display: block;
    margin: auto;
}

.text-error {
    color: darkred;
}

#result-seed {
    text-align: center
}
