<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>
    {% block style %}{% endblock %}
    {% block title %}<title>Title</title>{% endblock %}
</head>
<body>
    {% block header %}
        <header>
            <a href="{{ url_for('index') }}" id="header-logo-link">
                <h1 id="header-logo">Image Steganography</h1>
            </a>
        </header>
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
        <footer>
            <a href="https://github.com/tran-hai-long/lsb_steganography/wiki" class="footer-link">Wiki</a>
            <a href="{{ url_for('terms_of_use_page') }}" class="footer-link">Terms of
                Use</a>
            <a href="{{ url_for('privacy_policy_page') }}" class="footer-link">Privacy
                Policy</a>
            <a href="{{ url_for('about_page') }}" class="footer-link">About</a>
        </footer>
    {% endblock %}
</body>
</html>
