{% extends "base.html" %}
{% block  style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">{% endblock %}
{% block title %}<title>Index</title>{% endblock %}
{% block main %}
    <main>
        <h2>Choose a steganography method</h2>
        <div class="button-div">
            <a href="{{ url_for('lsb.index') }}" class="outline-btn encode-decode-btn">
                LSB</a>
            <a href="{{ url_for('prng.index') }}" class="outline-btn encode-decode-btn">
                PRNG</a>
        </div>
    </main>
{% endblock %}
