body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.6;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #e8f2ff;
    padding: 2vh 5vw;
    margin-bottom: 5vh;
    border-bottom: 2px solid #0071af;
}

#header-logo-link {
    text-decoration: none;
}

#header-logo {
    margin: 0 2vw 0 0;
    color: black;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #0071af;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #003b5e;
}

.outline-btn {
    text-decoration: none;
    color: #0071af;
    border: 2px solid #0071af;
    padding: 10px;
    border-radius: 10px;
}

.encode-decode-btn {
    margin: 2vh 2vw;
}

.outline-btn:hover {
    background-color: #0071af;
    color: white;
}

main {
    flex: 1
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: #e8f2ff;
    padding: 2vh 5vw;
    margin-top: 2vh;
    border-top: 2px solid #0071af;
}

.footer-link {
    font-weight: bold;
    text-decoration: none;
    color: #0071af;
    font-size: 18px;
    margin: 0 2vw;
}

.footer-link:hover {
    color: #003b5e;
}

.alert-box {
    color: #0071af;
    background-color: #e8f2ff;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: fit-content;
    text-align: center;
}

h2 {
    text-align: center;
}
