body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.6;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 10vh;
}

.header-logo {
    text-decoration: none;
    color: black;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background-color: #197bd8;
}

.outline-btn {
    text-decoration: none;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    padding: 10px;
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.outline-btn:hover {
    background-color: dodgerblue;
    color: white;
}

main {
    flex: 1
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: lightgray;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
}

.footer-link {
    font-weight: bold;
    text-decoration: none;
    color: dodgerblue;
}

.footer-link:hover {
    color: #197bd8;
}

.alert-box {
    color: #197bd8;
    background-color: #daecff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}
