h2 {
    text-align: center;
    padding-bottom: 2vh;
}

form {
    width: 50vw;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

textarea {
    border-radius: 4px;
    resize: vertical;
    min-width: 100%;
    min-height: 150px;
}

.result-img {
    max-width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result-msg {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-error {
    color: darkred;
}

.submit-btn {
    font-size: 16px;
}
